.imageSelectorContainer {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.imageSelectContainer {
  width: 100px;
  margin: 0;
}

.imageSelectContainerSelected {
  border: solid blue;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.carouselContainer {
  width: 500px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.carouselSlot {
  margin: 0;
  padding-bottom: 1rem;
}

.imageViewerContainer {
  width: 500px;
  margin: 0;
}