.imageSelectorContainer {
  width: 500px;
}

.imageSelectContainer {
  float: left;
  width: 100px;
  margin: 0;
  padding-bottom: 1rem;
}

.imageSelectContainerSelected {
  border: solid blue;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}